<h1>Welcome! {{currentUser.name}}</h1>

<div>
    <button class ="buttons" (click)="logout()">Logout</button>
    <button [routerLink]="['/create']" class="buttons"> Schedule Appointment</button>
</div>
<div>
    <h2>Appointments Scheduled</h2>

    <input [(ngModel)]="searchText" placeholder="search text goes here" value="Search by Reason for visit">
    <table>
   <tr>
        <th>Date </th>
        <th>Patient </th>
        <th> Reason </th>
        <th> Time </th>
        <th> Action</th>
    </tr>
    <tr *ngFor="let appointment of appointments | filter: searchText">
        <td> {{ appointment.date | date:"MM/dd/yy"}} </td>
        <td> {{appointment.user.name}} </td>
        <td> {{ appointment.reason }} </td> 
        <td> {{ appointment.time }} </td>
        <td><button (click)="destroyAppointment(appointment._id)" *ngIf="currentUser._id === appointment.user._id">Delete</button></td>
    </tr>
    </table>
</div>
